name: Release

on:
  release:
    types: [released]

jobs:
  deploy:

    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
    - uses: actions/checkout@v5

    - name: Set up Python
      uses: astral-sh/setup-uv@v7
      with:
        python-version: "3.10"

    - name: Build
      run: uv run --group release python -m build

    - name: Publish
      uses: pypa/gh-action-pypi-publish@release/v1
